!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title
      Effective Elections
    %link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
    %script(defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js")
    %script#tblsort(defer src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.1.0/tablesort.min.js")
    %script(defer src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.1.0/sorts/tablesort.number.min.js")
    :css
      .table .ralign {
        text-align: right;
      }
  %body
    %section.section
      .container
        %table#tbl.table.is-striped.is-hoverable
          - require 'csv'
          - require 'set'
          - c = CSV.read('EffectiveElections-2018-09-15.csv', :headers => true)
          - select_headers = ["District", "Democrat", "D Funds", "538 D Wins %", "538 D $/%", "Republican", "R Funds", "538 R Wins %", "538 R $/%"]
          - display_headers = {"District" => "District", "Dem" => "Dem", "DemFunds" => "Funds", "DWinPct" => "538 %", "DEffective" => "$/%", "Rep" => "Rep", "RepFunds" => "Funds", "RWinPct" => "538 %", "REffective" => "$/%", "Cook" => "Cook"}
          - cook_mapping = { 'Solid D' => 1, 'Likely D' => 2, 'Lean D' => 3, 'Toss Up D' => 4, 'Toss Up R' => 5, 'Lean R' => 6, 'Likely R' => 7, 'Solid R' => 8 }
          - right_align = Set.new(['D Funds', 'R Funds', '538 D $/%', '538 R $/%', '538 D Wins %', '538 R Wins %', 'Funds', '538 %', '$/%'])
          %thead
            %tr
              - display_headers.each do |id, display|
                %th{id: id, class: "#{'ralign' if right_align.include?(display)}"}
                  = display
                  %i.fas.fa-sort.sorter
          %tfoot
            %tr
              - display_headers.each do |id, display|
                %th{class: "#{'ralign' if right_align.include?(display)}"}
                  = display
          %tbody
            - c.each do |row|
              %tr
                - select_headers.each do |header|
                  %td{class: "#{'ralign' if right_align.include?(header)}"}
                    - if header == 'Democrat'
                      %a(href="#{row['Donation Links']}")= row[header]
                    - else
                      = row[header]
                %td{'data-sort' => cook_mapping[row['Cook']]}
                  =row['Cook']

  :javascript
    var script = document.querySelector('#tblsort');
    script.addEventListener('load', function() {
      new Tablesort(document.querySelector('#tbl'));
    });
